<p-menubar [model]="menuItems" class="settings-bar">
  <ng-template pTemplate="start">
    <a (click)="openDashboard()">
        <img src="../../assets/camp-arranger-icon.png" class="logo-icon" alt="brand logo">
    </a>
  </ng-template>
  <ng-template pTemplate="end">
        <a (click)="openUserInfo($event)">
            <img src="assets/user-profile.png" class="user-icon" alt="Profile Picture">
        </a>
        <p-overlayPanel #overlayPanel [dismissable]="true">
            <div>
              <p>E-Mail: {{ user.email }}</p>
              <p>More information coming soon!</p>
            </div>
        </p-overlayPanel>
  </ng-template>
</p-menubar>
<p-dialog 
  [(visible)]="displayCampCreation" [modal]="true" [responsive]="true" [closable]="true" [closeOnEscape]="true" [dismissableMask]="true">
  <ng-template pTemplate="header">
    <h3>Dialog Title</h3>
  </ng-template>
  <ng-template pTemplate="content" class="camp-creation-content">
    <input pInputText type="email" placeholder="Camp name" [(ngModel)]="campCreationName" required>
    <p-multiSelect [options]="users" [(ngModel)]="selectedUsers" optionLabel="email"></p-multiSelect>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Close" (click)="closeCampCreation()"></button>
  </ng-template>
</p-dialog>
<p-messages></p-messages>
