@import "primeng/resources/themes/saga-blue/theme.css";
@import '~primeicons/primeicons.css';
@import 'colors.scss';

html, body { 
    height: 100vh;
    max-height: 100vh; 
    background-color: $background-color;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
