@import "primeng/resources/themes/saga-blue/theme.css";
@import 'colors.scss';

html, body { 
    max-height: 100%; 
    background-color: $background-color;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
