@import "primeng/resources/themes/saga-blue/theme.css";
@import '~primeicons/primeicons.css';
@import 'colors.scss';

html, body { 
    height: 98%;
    max-height: 98%; 
    background-color: $background-color;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
