<div class="container">
    <p-card class="card">
        <div class="centered-content">
            <h2>Welcome!</h2>
            <p>Please enter your email address to sign in:</p>
            <div class="p-field">
                <input pInputText type="email" placeholder="Email address" [(ngModel)]="email" required>
              </div>
            <div class="button-container">
                <p-button styleClass="p-button-text"(click)="signUp()">Sign Up</p-button>
                <p-button (click)="signIn()">Sign In</p-button>
            </div>
        </div>
    </p-card>
</div>
  