<div class="container">
    <mat-card class="card">
        <mat-card-content class="content">
        <div class="centered-content">
            <h2>Welcome!</h2>
            <p>Please enter your email address to sign in:</p>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput type="email" placeholder="Email address">
            </mat-form-field>
            <div>
                <button mat-button color="primary" (click)="signIn()">Sign In</button>
                <button mat-button color="primary" (click)="signUp()">Sign Up</button>
            </div>
        </div>
        </mat-card-content>
    </mat-card>
</div>
  